@import 'tailwindcss';

@plugin '@kev-ui/design-system/plugin';

/* Scaffolding nav color variables */
@import '@kev-ui/scaffolding/styles.css';

/* Scan @kev-ui packages for Tailwind utility classes */
@source "../node_modules/@kev-ui/*/dist";
